.fadeRight,
.fadeLeft,
.fadeIn,
.fadeDown{
	-webkit-transition: all 800ms ease-out;
	   -moz-transition: all 800ms ease-out;
	    -ms-transition: all 800ms ease-out;
	   	 -o-transition: all 800ms ease-out;
			transition: all 800ms ease-out;
}

.fadeRight{
	-webkit-transform: translateX(100px);
	   -moz-transform: translateX(100px);
    	-ms-transform: translateX(100px);
    	 -o-transform: translateX(100px); 
    		transform: translateX(100px);
   	opacity: 0;
}
	.fadeRight-show{
		-webkit-transform: translateX(0px);
		   -moz-transform: translateX(0px);
	    	-ms-transform: translateX(0px);
	    	 -o-transform: translateX(0px); 
	    		transform: translateX(0px);
	    opacity: 1;
	}
.fadeLeft{
	-webkit-transform: translateX(-100px);
	   -moz-transform: translateX(-100px);
    	-ms-transform: translateX(-100px);
    	 -o-transform: translateX(-100px); 
    		transform: translateX(-100px);
   	opacity: 0;
}
	.fadeLeft-show{
		-webkit-transform: translateX(0px);
		   -moz-transform: translateX(0px);
	    	-ms-transform: translateX(0px);
	    	 -o-transform: translateX(0px); 
	    		transform: translateX(0px);
	    opacity: 1;
	}
.fadeDown{
	-webkit-transform: translateY(50px);
	   -moz-transform: translateY(50px);
    	-ms-transform: translateY(50px);
    	 -o-transform: translateY(50px); 
    		transform: translateY(50px);
   	opacity: 0;
}
	.fadeDown-show{
		-webkit-transform: translateY(0px);
		   -moz-transform: translateY(0px);
	    	-ms-transform: translateY(0px);
	    	 -o-transform: translateY(0px); 
	    		transform: translateY(0px);
	    opacity: 1;
	}	
.fadeIn{
   	opacity: 0;
}
	.fadeIn-show{
	    opacity: 1;
	}
.scale{
	-webkit-transition: all 1800ms ease-out;
	   -moz-transition: all 1800ms ease-out;
	    -ms-transition: all 1800ms ease-out;
	   	 -o-transition: all 1800ms ease-out;
			transition: all 1800ms ease-out;
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
    	-ms-transform: scale(0);
    	 -o-transform: scale(0); 
    		transform: scale(0);
    opacity: 0;
}
	.scale-show{
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
	    	-ms-transform: scale(1);
	    	 -o-transform: scale(1); 
	    		transform: scale(1);
	    opacity: 1;
	}

/*Кастомные анимации*/
@-webkit-keyframes fallTop {
  	0% {
  		opacity: 0;
    	-webkit-transform: translateY(-200px);
		   -moz-transform: translateY(-200px);
		    -ms-transform: translateY(-200px);
		   	 -o-transform: translateY(-200px);
				transform: translateY(-200px);
  	}

  	30% {
  		opacity: 1;
  	}

 	100% {
    	-webkit-transform: translateY(0px);
		   -moz-transform: translateY(0px);
		    -ms-transform: translateY(0px);
		   	 -o-transform: translateY(0px);
				transform: translateY(0px);
		opacity: 1;
  	}
}

@keyframes fallTop {
	0% {
		opacity: 0;
    	-webkit-transform: translateY(-200px);
		   -moz-transform: translateY(-200px);
		    -ms-transform: translateY(-200px);
		   	 -o-transform: translateY(-200px);
				transform: translateY(-200px);
  	}

  	30% {
  		opacity: 1;
  	}

 	100% {
    	-webkit-transform: translateY(0px);
		   -moz-transform: translateY(0px);
		    -ms-transform: translateY(0px);
		   	 -o-transform: translateY(0px);
				transform: translateY(0px);
		opacity: 1;
  	}
}
.fallTop,
.verDown,
.verUp{
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: 0.3s;
  	animation-duration: 0.3s;
  	-webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}
.fallTop{
	-webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
	opacity: 0;
}
	.fallTop-show{
		-webkit-animation-name: fallTop;
  		animation-name: fallTop;
	}

@-webkit-keyframes verDown {
  	0% {
    	height: 97px;
  	}

 	100% {
    	height: 35px;
  	}
}

@keyframes verDown {
	0% {
    	height: 97px;
  	}

 	100% {
    	height: 35px;
  	}
}
.verDown{
	-webkit-animation-duration: 0.8s;
  	animation-duration: 0.8s;
	height: 97px;
}
	.verDown-show{
		-webkit-animation-name: verDown;
  		animation-name: verDown;
	}

@-webkit-keyframes verUp {
  	0% {
    	height: 35px;
  	}

 	100% {
    	height: 97px;
  	}
}

@keyframes verUp {
	0% {
    	height: 35px;
  	}

 	100% {
    	height: 97px;
  	}
}
.verUp{
	-webkit-animation-duration: 0.8s;
  	animation-duration: 0.8s;
	height: 35px;
}
	.verUp-show{
		-webkit-animation-name: verUp;
  		animation-name: verUp;
	}