@font-face {
    font-family: 'RL';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RLI';
    src: url('../fonts/roboto-lightitalic-webfont.eot');
    src: url('../fonts/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-lightitalic-webfont.woff') format('woff'),
         url('../fonts/roboto-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-lightitalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RR';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RB';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RBI';
    src: url('../fonts/roboto-blackitalic-webfont.eot');
    src: url('../fonts/roboto-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-blackitalic-webfont.woff') format('woff'),
         url('../fonts/roboto-blackitalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-blackitalic-webfont.svg#robotoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RMI';
    src: url('../fonts/roboto-mediumitalic.eot');
    src: url('../fonts/roboto-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-mediumitalic.woff2') format('woff2'),
         url('../fonts/roboto-mediumitalic.woff') format('woff'),
         url('../fonts/roboto-mediumitalic.ttf') format('truetype'),
         url('../fonts/roboto-mediumitalic.svg#RMI') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RTH';
    src: url('../fonts/roboto-thin.eot');
    src: url('../fonts/roboto-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-thin.woff2') format('woff2'),
         url('../fonts/roboto-thin.woff') format('woff'),
         url('../fonts/roboto-thin.ttf') format('truetype'),
         url('../fonts/roboto-thin.svg#RTH') format('svg');
    font-weight: normal;
    font-style: normal;    
}
html,
body {
	position: relative;
}
body {
	min-width: 1050px;
	text-align: center;
	font-family: 'RR';
	overflow-x: hidden;
	color: #472275;
}
a{
	text-decoration: none;
	color: #472275;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 500;
}
label.error{
	display: none !important;
}
.error{
	/*background-color: #FFCECE !important;*/
	border-color: #e51233 !important;
	/*box-shadow: 0 1px 2px rgba(180, 14, 14, 0.57);*/
}
.ps-lines{
	display: none;
}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.fancybox-close {
	background: url('../i/close.png') 50% no-repeat;
	top: -43px;
  	right: -22px;
}
.fancybox-skin {
	background: none;
}
.fancybox-opened .fancybox-skin {
	box-shadow: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.bold{
	font-family: 'PFM';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1000px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	left: 50%;
	margin-left: -500px;
}
input[name='name']::-webkit-input-placeholder {
	font-style: italic;
}
input[name='name']:-moz-placeholder {
	font-style: italic;
}
button {
	cursor: pointer;
}
.b-blue-butt{
	background: rgb(88,177,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(88,177,238,1) 0%, rgba(37,125,186,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(88,177,238,1)), color-stop(100%,rgba(37,125,186,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(88,177,238,1) 0%,rgba(37,125,186,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(88,177,238,1) 0%,rgba(37,125,186,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(88,177,238,1) 0%,rgba(37,125,186,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(88,177,238,1) 0%,rgba(37,125,186,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58b1ee', endColorstr='#257dba',GradientType=0 ); /* IE6-9 */
	border: 1px solid #338DCC;
	border-radius: 5px;
	color: #FFF;
	font-family: "RB";
	font-size: 16px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	box-shadow: 0 1px 1px #000, inset 0 1px 2px rgba(255, 255, 255, 0.75);
}
	.b-blue-butt:hover{
		background: rgb(30,154,232); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(30,154,232,1) 0%, rgba(0,107,178,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,154,232,1)), color-stop(100%,rgba(0,107,178,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(30,154,232,1) 0%,rgba(0,107,178,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(30,154,232,1) 0%,rgba(0,107,178,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(30,154,232,1) 0%,rgba(0,107,178,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(30,154,232,1) 0%,rgba(0,107,178,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e9ae8', endColorstr='#006bb2',GradientType=0 ); /* IE6-9 */
	}
	.b-blue-butt:active{
		position: relative;
  		top: 1px;
	}	
.b-red-butt{
	color: #E51233;
	font-family: "RMI";
	font-size: 16px;
	font-weight: 500;
	border: 3px solid #E51233;
	border-radius: 5px;
	display: inline-block;
	width: 181px;
	padding: 3px 0px 4px;
}
	.b-red-butt:hover {
		background-color: #e51233 !important;
		color: white !important;
	}
	.b-red-butt.active {
		cursor: default;
		background-color: #c40f2c !important;
		border: 3px solid #c40f2c !important;
		color: white !important;
	}
.yellow-border{
	border-radius: 5px;
	border: 1px dashed #D1C48E;
	box-shadow: inset 0 0 0 6px #FEECA1, 0 0 0 6px #FEECA1, 0 0 30px rgba(58, 92, 133, 0.25);
}
	.yellow-border>div{
		background: white;
	  	margin: 5px;
		padding-bottom: 31px;
	    padding-top: 20px;
  	}
  	.ud {
  		position: relative;
  	}
  	.ud:after{
		position: absolute;
		background: url("../i/ud.png") 50% no-repeat;
		height: 8px;
		width: 8px;
		top: -1px;
		right: -6px;
		content: "s";
		font-size: 0px;	
	}
 input{
	height: 50px;
	border: none;
	border-right: 1px solid #CDCDCD;
	width: 232px;
	color: #5E5D62;
	font-family: "RR";
	font-size: 16px;
	font-weight: 400;
	display: inline-block;
	float: left;
	padding-left: 18px;
	box-sizing: border-box;
	margin-right: -1px;
	border-radius: 5px;
}
 .phone-img {	
	background-position: 50%;
	background-repeat: no-repeat;
	height: 50px;
	width: 55px;
	float: left;
	display: inline-block;
	border-right: 1px solid #CDCDCD;
}
form>div{
	border: 1px solid  #CDCDCD;
	display: inline-block;
	border-radius: 5px;
	margin-top: 7px;
	margin-bottom: 12px;
}

 button{
	display: inline-block;
	padding: 13px 35px;
	margin-bottom: 3px;
}
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}
.b-1{
	background-image: url("../i/back-1.jpg");
	background-size: cover;
	background-position: 50% 50%;
	overflow: hidden;
}
	.b-1 .b-block{

	}
		.b-1 .b-block .header{

		}	
			.b-1 .b-block .header .left{
				margin-top: 15px;
			}	
				.b-1 .b-block .header .left img{
					float: left;
					margin-right: 10px;
				}
				.b-1 .b-block .header .left p{
					color: #000;
					font-family: "RR";
					font-size: 16px;
					font-weight: 400;
					float: left;
					text-align: left;
					width: 485px;
					line-height: 1.25;
					margin-top: 20px;
				}
			.b-1 .b-block .header .right{
				text-align: right;
				margin-top: 18px;
			
				margin-right: 10px;
}
				.b-1 .b-block .header .right p{
					color: #000;
					font-family: "RR";
					font-size: 16px;
					font-weight: 400;
				
					line-height: 1.2;
}
				.b-1 .b-block .header .right h2{
					color: #000;
					font-family: "RL";
					font-size: 34px;
					font-weight: 300;
				
					/* line-height: 1.2; */
}	
				.b-1 .b-block .header .right a{
					color: #257DBA;
					font-family: "RR";
					font-size: 16px;
					font-weight: 400;
					border-bottom: 1px dashed #257DBA;
				
					display: inline-block;
}
					.b-1 .b-block .header .right a:hover{
						border-bottom: none;
						margin-bottom: 1px;
					}
		.b-1 .b-block .content{
			text-align: center;
			margin-top: 18px;
		}
			.b-1 .b-block .content h1{
				color: #1B4F73;
				font-family: "RL";
				font-size: 42px;
				font-weight: 300;
				margin-top: 30px;
				margin-bottom: 5px;
			
				line-height: 46px;
}
				.b-1 .b-block .content h1 b{
					font-size: 50px;
					font-family: "RB"
				;
}
			.b-1 .b-block .content span{
				color: #000;
				font-family: "RL";
				font-size: 24px;
				font-weight: 300;
				background-color: #feeca1;
				padding: 0px 5px 4px;
			
				line-height: 25px;
				margin-top: 4px;
				display: inline-block;
}
			.b-1 .b-block .content .form{
				margin-top: 21px;
				margin-bottom: 39px;
				margin-right: 19px;
				float: right;
				width: 386px;
				background-color: #FEECA1;
			}
				.b-1 .b-block .content .form h2{
					color: #000;
					font-family: "RL";
					font-size: 34px;
					font-weight: 300;
					line-height: 34px;
				}
				.b-1 .b-block .content .form .grey-text{
					color: #5E5D62;
					font-family: "RR";
					font-size: 16px;
					font-weight: 400;
					margin-top: 13px;
					line-height: 20px;
					margin-bottom: 14px;
				}
				.b-1 .b-block .content .form form label{
					color: #000;
					font-family: "RR";
					font-size: 14px;
					font-weight: 600;
					margin-top: 20px;
				}
				.b-1 .b-block .content .form form{

				}
					.b-1 .b-block .content .form form>div{
						border: 1px solid  #CDCDCD;
  						display: inline-block;
  						
						border-radius: 5px;
					
						margin-top: 7px;
						margin-bottom: 13px;
						/* border-right: none; */
}
					.b-1 .b-block .content .form input{
						height: 50px;
  						
						border: none;
  						
						border-right: 1px solid #CDCDCD;
						width: 232px;
						color: #5E5D62;
  						font-family: "RR";
  						font-size: 16px;
  						font-weight: 400;
  						display: inline-block;
  						float: left;
					
						padding-left: 18px;
						box-sizing: border-box;
						margin-right: -1px;
						border-radius: 5px;
}
					.b-1 .b-block .content .form button{
						display: inline-block;
						padding: 13px 35px;
					
						margin-bottom: 3px;
}
				.b-1 .b-block .content .form .text-1{
					color: #000;
					font-family: "RR";
					font-size: 14px;
					font-weight: 400;
					margin-top: 12px;
				}
					.b-1 .b-block .content .form .text-1 b{
						width: 30px;
						height: 30px;
						background-image: url("../i/cube.png");
						background-repeat: no-repeat;
						background-position: 50% 50%;
						color: #000;
						font-family: "RLI";
						font-size: 20px;
						font-weight: 300;
						padding: 2px 6px;
					}
				

.b-2{
	overflow: hidden;
}
	.b-2 .b-block{
		text-align: center;
	}
		.b-2 .b-block .b-head{
			margin-top: 95px;
		}
			.b-2 .b-block .b-head h2{
				color: #1B4F73;
				font-family: "RL";
				font-size: 50px;
			
				line-height: 46px;
}
				.b-2 .b-block .b-head h2 b{
					font-weight: 500;
					font-family: "RB";
				}
			.b-2 .b-block .b-head h3{
				color: #000;
				margin-top: 20px;
				font-family: "RL";
				font-size: 24px;
				font-weight: 300;
			
				line-height: 1.2;
}
		.b-2 .b-block .b-content{
			position: relative;
		}
			.b-2 .b-block .b-content .b-smile{
			
				margin-top: 44px;
}
				.b-2 .b-block .b-content .b-smile li{
					margin-bottom: 37px;
				}
					.b-2 .b-block .b-content .b-smile li:nth-child(2){
						margin-bottom: 47px;
					}

					.b-2 .b-block .b-content .b-smile li:nth-child(3){
						margin-bottom: 43px;
					}
					.b-2 .b-block .b-content .b-smile li img{
						float: left;
						margin-right: 20px;
					}
					.b-2 .b-block .b-content .b-smile li p{
						color: #000;
						text-align: justify;
						font-family: "RR";
						font-size: 16px;
						float: left;
						line-height: 20px;
					
						width: 907px;
						margin-top: 6px;
					}
					.b-2 .b-block .b-content .b-smile li:nth-child(2) p{
						margin-top: 2px;
					}
					.b-2 .b-block .b-content .b-smile li:nth-child(3) p{
						margin-top: 1px;
					}
						.b-2 .b-block .b-content .b-smile li p b{
							font-weight: 500;
							font-family: "RB";
						}
						/*.b-2 .b-block .b-content .b-smile li p span {
							position: relative;
						}
						.b-2 .b-block .b-content .b-smile li p span:after{
							position: absolute;
							background: url("../i/ud.png") 50% no-repeat;
							height: 8px;
							width: 8px;
							top: -1px;
							right: -6px;
							content: "s";
  							font-size: 0px;	
						}*/
		.b-2 .b-block .b-content .arrow{
			position: absolute;
  			top: 252px;
  			left: 598px;
		}
/*		.b-2 .b-block .b-content .b-red-butt{
			color: #E51233;
			font-family: "RBI";
			font-size: 16px;
			font-weight: 700;
			border: 3px solid #E51233;
			border-radius: 5px;
			display: inline-block;
			width: 171px;
			padding: 3px 0px 4px;
}*/
		.b-2 .b-block .b-content .describe{
			font-size: 16px;
			font-family: "RR";
			color: #000;
			text-align: justify;
			
			margin-left: 82px;
		
			line-height: 1.25;
			margin-right: 10px;
}
		.b-2 .b-block .b-content .number{
			margin-left: 104px;
			margin-top: 10px;
			margin-bottom: 37px;
		
			margin-right: 10px;
}
			.b-2 .b-block .b-content .number>li{
				font-family: "RR";
				font-size: 16px;
				color: #000;
				text-align: justify;
			
				line-height: 1.25;
}
				.b-2 .b-block .b-content .number>li:nth-child(1){
				}
				.b-2 .b-block .b-content .number>li:nth-child(2){
					margin-top: 10px;
				}
				.b-2 .b-block .b-content .number>li:nth-child(3){
					margin-top: 20px;
				}
				.b-2 .b-block .b-content .number>li:nth-child(4){
					margin-top: 20px;
				}
					.b-2 .b-block .b-content .number li span{
						color: #257DBA;
						margin-right: 5px;
				 	}
				 	.b-2 .b-block .b-content .number li b{
				 		font-family: "RB";
				 		font-weight: 500;
				 	} 
		.b-2 .b-block .b-content .plus{
			margin-top: 10px;
		}	
			.b-2 .b-block .b-content .plus li{
				font-family: "RR";
				font-size: 16px;
				color: #000;
				margin-left: 19px;
				margin-bottom: 10px;
			}
				.b-2 .b-block .b-content .plus li img{
					float: left;
					margin-right: 5px;
					margin-top: 4px;
				}
				.b-2 .b-block .b-content .plus li p{
					
				}
					.b-2 .b-block .b-content .plus li p b{
						font-family: "RB";
						font-weight: 500;
					}
		.b-2 .b-block .b-content .red-2{
			margin-bottom: 112px;
		}
.b-3{
	background-image: url("../i/back-3.jpg");
	background-size: cover;
	background-position: 50% 50%;
	overflow: hidden;
}
	.b-3 .b-block{

	}
		.b-3 .form{
			width: 388px;
			height: 503px;
			float: right;
			margin-top: 73px;
			margin-bottom: 72px;
			margin-right: 18px;
			text-align: center;
		}
			.b-3 .form.yellow-border>div {
				padding-bottom: 31px;
			}
			.b-3 .form h2{
				display: inline-block;
				color: #000;
				line-height: 34px;
				margin-top: 12px;
				font-family: "RL";
				font-size: 34px;
				font-weight: 300;
			}
			.b-3 .form p{
				margin-top: 10px;
				color: #5E5D62;
				font-family: "RR";
				font-size: 16px;
				font-weight: 400;
				line-height: 20px;
				margin-bottom: 27px;
				width: 322px;
				display: inline-block;
			}
			.b-3 .form form{
				margin-bottom: 12px;
			}
				.b-3 .form form label{
					color: #000;
					font-family: "RR";
					font-size: 14px;
					font-weight: 400;
					float: left;
					margin-left: 52px;
				}
				.b-3 .form form>div {
					margin-top: 3px;
				
					margin-bottom: 16px;
}
				.b-3 .form form .phone{
					height: 52px;
					margin-top: 5px;
					background-color: #FFF;
					border: 1px solid #CDCDCD;
					border-radius: 5px;
					background-image: url("../i/phone.png");
					background-repeat: no-repeat;
					background-position: 10px 50%;
					padding-left: 73px;
					color: #5E5D62;
					font-family: "RR";
					font-size: 16px;
					font-weight: 400;
					padding-right: 47px;
					margin-bottom: 16px;
					display: inline-block;
				}
				.b-3 .form form .mail{
					height: 52px;
					margin-top: 5px;
					background-color: #FFF;
					border: 1px solid #CDCDCD;
					border-radius: 5px;
					background-image: url("../i/mail.png");
					background-repeat: no-repeat;
					background-position: 10px 50%;
					padding-left: 73px;
					color: #5E5D62;
					font-family: "RR";
					font-size: 16px;
					font-weight: 400;
					padding-right: 47px;
					margin-bottom: 16px;
					display: inline-block;
				}
				.b-3 .form form button{
					display: inline-block;
					padding: 13px 34px;
					width: 287px;
				} 
			.b-3 .form b{
				color: #000;
				font-family: "RR";
				font-size: 16px;
				font-weight: 400;
			}
		.b-3 .text{
			float: right;
			margin-right: 32px;
			margin-top: 80px;
		}
			.b-3 .text img{
				margin-left: -317px;
			}
			.b-3 .text h3{
				width: 226px;
				text-align: justify;
				color: #257DBA;
				font-family: "RL";
				font-size: 24px;
				margin-top: -15px;
			
				line-height: 1.2;
}
			.b-3 .text h4{
				line-height: 20px;
				margin-top: 48px;
				color: #000;
				text-align: left;
				font-family: "RR";
				font-size: 16px;
				font-weight: 400;
			}
.b-4{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(236,236,236,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
	overflow: hidden;
}
	.b-4 .b-block{
		text-align: center;
	}
		.b-4 h2{
			color: #1B4F73;
			font-family: "RL";
			font-size: 50px;
			margin-top: 77px;
		
			line-height: 1.2;
}
			.b-4 h2 b{
				font-family: "RB";
			}
		.b-4 h3{
			color: #000;
			font-family: "RL";
			font-size: 24px;
			font-weight: 300;
		}
		.b-4 .right{
			width: 338px;
			margin-top: -1px;
			margin-bottom: 75px;
			text-align: center;
			margin-right: 60px;
		}
			.b-4 .right .left-1{
				margin-right: 20px;
			}
			.b-4 .right h4{
				color: #1B4F73;
				font-family: "RB";
				font-size: 20px;
				margin-bottom: 12px;
			
				line-height: 1.2;
				margin-top: 4px;
}
			.b-4 .right p{
				color: #000;
				font-family: "RR";
				font-size: 16px;
			
				line-height: 1.2;
}
		.b-4 table{
			width: 857px;
			border-radius: 5px 5px 0px 0px;
			overflow: hidden;
			margin-top: 36px;
			margin-right: 12px;
			display: inline-block;
		}
			.b-4 table tr{
				background-color: #ffffff;
				height: 64px;
			
				line-height: 1.25;
}
				.b-4 table tr:nth-child(2n+1){
					background-color: #dcf1f3;
				}
				.b-4 table tr th{
					background-color: #257DBA;
					
					color: #FFF;
					font-family: "RL";
					font-size: 16px;
					text-align: center;
					vertical-align: middle;	
				}
					.b-4 table tr th:nth-child(1){
						width: 495px;
						text-align: left;
						padding-left: 18px;
					}
					.b-4 table tr th:nth-child(2){
						width: 167px;
						border-right: 1px solid #FFF;
						border-left: 1px solid #FFF;
					}
					.b-4 table tr th:nth-child(3){
						width: 175px;
					}
				.b-4 table tr td{
					color: #000;
					font-family: "RR";
					font-size: 16px;
					text-align: center;
					vertical-align: middle;
					
				}
					.b-4 table tr td:nth-child(1){
						text-align: left;
						padding-left: 18px;
					}
					.b-4 table tr td:nth-child(2n+2){
						border-right: 1px dashed #ffffff;
						border-left: 1px dashed #ffffff;
					}

}
	.b-5 .b-block{
		text-align: center;
		position: relative;
		padding-bottom: 53px;
	}
		.baby{
			position: absolute;
			top: -161px;
  			
			left: 138px;
		}
		.b-5 .form{
			margin-top: -21px;
			margin-bottom: 70px;
			margin-right: 10px;
			display: inline-block;
			width: 811px;
			height: 318px;
			background-color: #c2ddea;
			border-radius: 5px;
			border: 1px dashed #fff;
			box-shadow: inset 0 0 0 6px #c2ddea, 0 0 0 6px #c2ddea, 0 0 30px rgba(58, 92, 133, 0.25);
		}
		.b-5 .form>div {
			background: white;
	  		
			margin: 5px;
			padding-bottom: 37px;
	    	
			/* padding-top: 20px; */
		}
			.b-5 .form h2{
				color: #000;
				font-family: "RL";
				font-size: 34px;
				/* line-height: 35px; */
				/* margin-top: 66px; */
			
				padding-top: 23px;
				line-height: 1.2;
}
			.b-5 .form h3{
				color: #000;
				font-family: "RL";
				font-size: 20px;
			
				margin-bottom: 3px;
}
				.b-5 .form form{

				
    text-align: left;
}
					.b-5 .form form label{
						color: #000;
						font-family: "RR";
						font-size: 14px;
						font-weight: 500;
					
						display: block;
						text-align: left;
						margin-left: 91px;
}
					.b-5 .form form .phone{
						margin-top: 7px;
						height: 52px;
						background-color: #FFF;
						border: 1px solid #CDCDCD;
						border-radius: 5px;
						background-image: url("../i/phone.png");
						background-repeat: no-repeat;
						background-position: 10px 50%;
						padding-left: 73px;
						color: #5E5D62;
						font-family: "RR";
						font-size: 16px;
						font-weight: 400;
						padding-right: 47px;
						margin-bottom: 16px;
						display: inline-block;
						margin-right: 42px;
						margin-bottom: 7px;
					}
					.b-5 .form form>div{
            			margin-left: 74px;
              			display: block;
              			float: left;
          			}
          			.b-5 .form form>div input{
                  		width: 249px;
                	}
                	.b-5 .form form button{
                  		padding: 14px 13px;
  						
                  		margin-left: 43px;
  						margin-top: 6px;
                	}
					.b-5 .form form a{
						margin-top: 7px;
						padding: 15px 14px;
					}
					.b-5 .form form p{
						color: #000;
						font-family: "RR";
						font-size: 14px;
						/* margin-left: 333px; */
  						
						/* margin-top: 10px; */
					
						text-align: right;
						margin-right: 122px;
						margin-top: 9px;
}
		.b-5 h2{
			color: #1B4F73;
			font-family: "RL";
			font-size: 50px;
			/* line-height: 58px; */
		
			line-height: 1.2;
			margin-bottom: 3px;
}
			.b-5 h2 b{
				font-family: "RB";
			}
		.b-5 h3{
			margin-top: 0px;
			color: #000;
			font-family: "RL";
			font-size: 24px;
		
			/* line-height: 1.2; */
}
		.b-5 table{
			margin-top: 38px;
			margin-bottom: 82px;
			margin-left: 15px;
		}
			.b-5 table tr:nth-child(1) td{
				padding-bottom: 45px;
			}
			.b-5 table tr:nth-child(3) td{
				border-bottom: none;
			
				padding-top: 49px;
}
				.b-5 table tr td:nth-child(2) {
					padding-left: 5px;
				}
				.b-5 table tr td:nth-child(2n+1){
					border-right: 1px dashed #969696;
				}
				.b-5 table tr:nth-child(2) td{
					padding-top: 47px;
				}
				.b-5 table tr:nth-child(2):after{
					content: "Lol";
					display: block;
					font-size: 0px;
					width: 20px;
					height: 20px;
					background-color: white;
					position: relative;
					top: -10px;
					left: -494px;
				}
				.b-5 table tr:nth-child(3):after{
					content: "Lol";
					display: block;
					font-size: 0px;
					width: 20px;
					height: 20px;
					background-color: white;
					position: relative;
					top: -10px;
					left: -494px;
				}
		.b-5 table tr td{
			width: 479px;
			border-bottom: 1px dashed #969696;
			padding-top: 34px;
			padding-left: 0px;
			vertical-align: top;
		}

			.b-5 table tr td img{
				float: left;
				margin-right: 15px;
			}
			.b-5 table tr td:nth-child(2) img {
				margin-left: 15px;
			}
			.b-5 table tr:nth-child(3) td img {
				margin-right: 33px;
			}
			.b-5 table tr td h3{
				float: left;
				color: #1B4F73;
				font-family: "RR";
				font-size: 24px;
				text-align: left;
			
				line-height: 1.2;
}
			.b-5 table tr td .circ{
				background-image: url("../i/round.png");
				background-position: 50% 50%;
				width: 297px;
				height: 195px;
				float: left;
				margin-bottom: 10px;
				margin-top: 30px;
			
				margin-left: -4px;
}
				.b-5 table tr td .circ .left-text{
					color: #000;
					font-family: "RR";
					font-size: 16px;
					margin-top: 53px;
  					margin-left: -151px;
				
					line-height: 1.3;
}

p.left-text {}
				.b-5 table tr td .circ .right-text{
					color: #FFF;
					font-family: "RR";
					font-size: 16px;
					margin-left: 102px;
  					
					margin-top: -124px;
				
					line-height: 1.3;
}
			.b-5 table tr:nth-child(1) td p{
				color: #000;
				font-family: "RR";
				font-size: 16px;
				margin-left: 83px;
			}

			.b-5 table tr td ul{
				float: left;
				margin-left: 122px;
				margin-top: -43px;
			
				width: 358px;
}
				.b-5 table tr td ul li{
					margin-bottom: 10px;	
					line-height: 1.25;
}
					.b-5 table tr td ul li img{
						margin-right: 5px;
					}
				.b-5 table tr td ul li span{
					color: #000;
					text-align: left;
					font-family: "RR";
					font-size: 16px;
					display: block;
  					margin-left: 25px;
  					
				}
					.b-5 table tr td ul li span b{
						font-weight: 500;
						cursor: help;
						border-bottom: 2px dashed #2579bf;
					}
			.b-5 table tr:nth-child(2) td p{
				font-family: "RR";
				color: #000;
				font-size: 16px;
				text-align: left;
				margin-left: 136px;
				margin-top: 112px;
				padding-bottom: 70px;
			}
				.b-5 table tr:nth-child(2) td p b{
					font-weight: 500;
					color: #257DBA;
					font-size: 42px;
					font-family: "RB";
				}
			.b-5 table tr:nth-child(2) td:nth-child(2) p{
				margin-top: -29px;
				float: left;
				text-align: left;
				font-family: "RR";
				color: #000;
				margin-left: 153px;
				font-size: 16px;
			}

p {}
			.b-5 table tr:nth-child(3) td p{
				float: left;
				text-align: left;
				font-family: "RR";
				color: #000;
				font-size: 16px;
				margin-top: 25px;
				margin-bottom: 50px;
			}
		
.b-6{
	background-image: url("../i/back-6.jpg");
	background-size: cover;
	background-position: 50% 50%;
	overflow: hidden;
}
	.b-6 .b-block{
    width: 1050px;

	}
		.b-6 h2{
			color: #FFF;
			font-family: "RB";
			font-size: 38px;
			padding-top: 70px;
			/* letter-spacing: -1px; */
		
			line-height: 1.2;
			/* padding-left: 1px; */
}
		.b-6 h3{
			margin-top: 30px;
			color: #FFF;
			font-family: "RL";
			font-size: 26px;
		}
		.b-6 .b-block div{
			float: right;
			margin-top: 70px;
			width: 510px;
			background-color: #FFF;
			border-radius: 5px;
			margin-right: 36px;
			box-shadow: 0 0 30px rgba(97, 135, 153, 0.25);
			padding-bottom: 39px;
			margin-bottom: 56px;
		}
			.b-6 .b-block div h3{
					color: #1B4F73;
					font-family: "RL";
					font-size: 33px;
					text-align: left;
					margin-top: 32px;
					margin-left: 28px;
				
					line-height: 1.2;
}
			}
			.b-6 .b-block div ul{
				margin-left: 26px;
			}
				.b-6 .b-block div ul li{
					color: #000;
					font-family: "RR";
					font-size: 18px;
					text-align: left;
					margin-left: 33px;
					margin-bottom: 19px;
				}
					.b-6 .b-block div ul li:first-child{
						margin-top: 55px;
					}
					.b-6 .b-block div ul li img{
						float: left;
						margin-top: 0px;
					}
					.b-6 .b-block div ul li span{
						margin-left: 52px;
						display: block;
						line-height: 1.2;
}
.b-7{

}
	.b-7 .b-block{
		background-color: #FFF;
	
		/* width: 1160px; */
}	
		.b-7 a{
			position: relative;
  			
			top: -25px;
			padding: 14px 13px;
			display: inline-block;
			color: #000;
			font-family: "RB";
			font-size: 16px;
			border: 1px solid #FEC83F;
			border-radius: 6px;
			box-shadow: 0 1px 1px #000, inset 0 1px 2px rgba(255, 255, 255, 0.75);
			background: rgb(255,221,83); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(255,221,83,1) 0%, rgba(255,185,5,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,221,83,1)), color-stop(100%,rgba(255,185,5,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(255,221,83,1) 0%,rgba(255,185,5,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(255,221,83,1) 0%,rgba(255,185,5,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(255,221,83,1) 0%,rgba(255,185,5,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(255,221,83,1) 0%,rgba(255,185,5,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd53', endColorstr='#ffb905',GradientType=0 ); /* IE6-9 */

		}
			.b-7 a:hover{
				background: rgb(255,212,40); /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(255,212,40,1) 0%, rgba(252,151,0,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,212,40,1)), color-stop(100%,rgba(252,151,0,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(255,212,40,1) 0%,rgba(252,151,0,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(255,212,40,1) 0%,rgba(252,151,0,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(255,212,40,1) 0%,rgba(252,151,0,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(255,212,40,1) 0%,rgba(252,151,0,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd428', endColorstr='#fc9700',GradientType=0 ); /* IE6-9 */
			}
		.b-7 h2{
			margin-top: 10px;
			margin-bottom: 58px;
			color: #1B4F73;
			font-family: "RL";
			line-height: 1.2;
			font-size: 36px;
		}
			.b-7 h2 b{
				font-family: "RB";
				font-weight: 500;
			}
.b-8{
	background-image: url("../i/back-7.jpg");
	background-size: cover;
	background-position: 50% 50%;
	overflow: hidden;
}
	.b-8 .b-block{
    width: 1050px;

	}
		.b-8 .left{
			margin-left: 22px; 
			margin-top: 61px;
			width: 504px;
		}
			.b-8 .left .top h2{
				font-size: 34px;
				color: #000;
				font-family: "RL";
				text-align: left;
			
				line-height: 1.2;
}
				.b-8 .left .top h2 b{
					font-family: "RB";
					font-size: 42px;
					font-weight: 500;
				}
			.b-8 .left .top h3{
				color: #000;
				font-family: "RL";
				font-size: 24px;
				margin-top: 12px;
				text-align: left;
			
				line-height: 1.2;
}
		.b-8 .bottom{
			float: left;
			margin-top: 39px;
		}
			.b-8 .bottom img{
				float: left;
			}
			.b-8 .bottom p{
				float: left;
				margin-top: 126px;
				margin-left: -45px;
				color: #000;
				text-align: left;
				font-family: "RR";
				font-size: 16px;
			
}
			.b-8 .bottom p span {
         		margin-top: 12px;
        	
         		display: block;
         		line-height: 1.2;
}
				.b-8 .bottom p b{
				color: #000;
				font-family: "RR";
				font-size: 20px;
				font-weight: 500;
				display: block;
				text-align: left;
			}
	.b-8 .right{
		text-align: center;
		width: 405px;
		height: 501px;
		background-color: #c2ddea;
		border-radius: 5px;
		border: 1px dashed #FFF;
		box-shadow: inset 0 0 0 6px #c2ddea, 0 0 0 6px #c2ddea, 0 0 30px rgba(58, 92, 133, 0.25);
		margin-right: 43px;
		margin-top: 78px;
		margin-bottom: 69px;
	}
		.b-8 .right h2{
			display: inline-block;
			color: #000;
			font-family: "RL";
			font-size: 34px;
		}
		.b-8 .right h3{
			display: inline-block;
			color: #000;
			font-family: "RL";
			font-size: 20px;
		
			line-height: 1.2;
}
		.b-8 .right p{
			color: #5E5D62;
			font-family: "RL";
			font-size: 16px;
			font-weight: 400;
			margin-top: 11px;
		}
		.b-8 .right form{
			margin-top: 20px;
		}
			.b-8 .right form label{
				color: #000;
				font-family: "RR";
				font-size: 14px;
				font-weight: 400;
				display: inline-block;
				float: left;
				margin-left: 57px;
			}
			.b-8 .right .name{
				height: 52px;
				margin-top: 5px;
				background-color: #FFF;
				border: 1px solid #CDCDCD;
				border-radius: 5px;
				background-image: url("../i/man.png");
				background-repeat: no-repeat;
				background-position: 10px 50%;
				padding-left: 73px;
				color: #5E5D62;
				font-family: "RR";
				font-size: 16px;
				font-weight: 400;
				padding-right: 63px;
				margin-bottom: 16px;
				display: inline-block;
			}
			.b-8 .right .phone{
				height: 52px;
				margin-top: 5px;
				background-color: #FFF;
				border: 1px solid #CDCDCD;
				border-radius: 5px;
				background-image: url("../i/phone.png");
				background-repeat: no-repeat;
				background-position: 10px 50%;
				padding-left: 73px;
				color: #5E5D62;
				font-family: "RR";
				font-size: 16px;
				font-weight: 400;
				padding-right: 65px;
				margin-bottom: 16px;
				display: inline-block;
			}
		.b-8 .right>div {
  			background: white;
  			margin: 5px;
 			
  			padding-bottom: 33px;
  			padding-top: 24px;
   		}
   		.b-8 .right form>div {
   			margin-top: 6px;
   			margin-bottom: 17px;
   		}
   		.b-8 .right form input {
   			width: 249px;
   		}
		.b-8 .right form button{
			color: #000;
			font-family: "RR";
			font-size: 16px;
			border: 1px solid #FEC83F;
			border-radius: 6px;
			box-shadow: 0 1px 1px #000, inset 0 1px 2px rgba(255, 255, 255, 0.75);
			background: rgb(255,221,83); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(255,221,83,1) 0%, rgba(255,185,5,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,221,83,1)), color-stop(100%,rgba(255,185,5,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(255,221,83,1) 0%,rgba(255,185,5,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(255,221,83,1) 0%,rgba(255,185,5,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(255,221,83,1) 0%,rgba(255,185,5,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(255,221,83,1) 0%,rgba(255,185,5,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd53', endColorstr='#ffb905',GradientType=0 ); /* IE6-9 */
			display: inline-block;
			padding: 14px 13px;
			margin-bottom: 18px;
		
			margin-top: 2px;
}
			.b-8 .right button:hover{
				background: rgb(255,212,40); /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(255,212,40,1) 0%, rgba(252,151,0,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,212,40,1)), color-stop(100%,rgba(252,151,0,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(255,212,40,1) 0%,rgba(252,151,0,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(255,212,40,1) 0%,rgba(252,151,0,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(255,212,40,1) 0%,rgba(252,151,0,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(255,212,40,1) 0%,rgba(252,151,0,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd428', endColorstr='#fc9700',GradientType=0 ); /* IE6-9 */
			}

		.b-8 .right span{
			color: #000;
			font-family: "RR";
			font-size: 16px;
		}
		.b-8 .right span b{
			width: 30px;
			height: 30px;
			background-image: url("../i/cube.png");
			background-repeat: no-repeat;
			background-position: 50% 50%;
			color: #000;
			font-family: "RLI";
			font-size: 20px;
			font-weight: 300;
			padding: 2px 6px;
		}
.b-9{
	background-image: url("../i/back-8.jpg");
	background-position: 50% 0%;
	/*background-size: 100%;*/
	overflow: hidden;
}
	.b-9 .b-block{
		text-align: center;
		padding-bottom: 33px;
	
		width: 1055px;
}
		.b-9 .b-table {
			width: 100%;
			margin-bottom: 22px;
			display:table;
		}
		.b-9 .b-red-butt{
			margin-top: 27px;
  			width: 143px;
  			
			margin-left: 6px;
		
			margin-right: 10px;
}
		.b-9 h2{
			display: inline-block;
			margin-top: 55px;
			color: #1B4F73;
			font-family: "RL";
			font-size: 50px;
		
			line-height: 1.2;
}
			.b-9 h2 b{
				font-family: "RB";
				font-weight: 500;
			}
		.b-9 p{
			color: #000;
			font-family: "RL";
			font-size: 24px;
		}
		.b-9 .short{
			display: inline-block;
			color: #EA4B5F;
			font-family: "RBI";
			font-size: 16px;
			border: 3px solid #E93854;
			border-radius: 5px;
			padding: 4px 46px;
			margin-right: 18px;
			margin-top: 26px;
		}
		.b-9 .long{
			display: inline-block;
			color: #FFF;
			font-family: "RBI";
			font-size: 16px;
			background-color: #E93854;
			border-radius: 5px;
			padding: 7px 38px;
			margin-top: 25px;
		}
		.b-9 ul{
			display: table-cell;		
				width: 50%; 
		}	
			.b-9 ul li{
				margin-bottom: 11px;
			}
			.b-9 ul .top{
				color: #257DBA;
				font-family: "RTH";
				font-size: 120px;
				text-align: left;
				margin-bottom: 0;
				margin-left: 25px;
}
			.b-9 ul .text{
				margin-left: 33px;
				margin-top: -22px;
				text-align: left;
				color: #1B4F73;
				font-family: "RB";
				margin-bottom: 0;
				font-size: 32px;
			}
			.b-9 ul .describe{
				margin-left: 30px;
				color: #000;
				font-family: "RL";
				text-align: left;
				font-size: 20px;
				margin-bottom: 37px;
			
				margin-top: 8px;
				line-height: 1.2;
}
			
				.b-9 ul li span{
					color: #000;
					font-family: "RR";
					font-size: 16px;
					text-align: left;
					display: block;
					margin-left: 30px;
				
					line-height: 1.2;
}
				.b-9 ul li img{
					float: left;
					margin-right: 10px;
					margin-top: -7px;
				}
				.b-b{
					margin-bottom: 13px;
}
.b-10{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(236,236,236,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
	overflow: hidden;

}
	.b-10 .b-block{
		text-align: center;
	}
		.b-10 h2{
			display: inline-block;
			line-height: 46px;
			color: #1B4F73;
			font-family: "RL";
			font-size: 50px;
			margin-top: 77px;
		}
			.b-10 h2 b{
				font-family: "RB";
			}
		.b-10 ul{
			display: inline-block;
		}
			.b-10 ul.first{
				margin-top: 88px;
				margin-bottom: 21px;
			}
			.b-10 ul li{
				text-align: center;
				float: left;
				margin: 0 30px 20px;
}
				.b-10 ul li:first-child{
					/* margin-left: -74px; */
				}
				.b-10 ul li img{

				}
				.b-10 ul li p{
					color: #1B4F73;
					font-family: "RR";
					font-size: 20px;
					text-align: center;
					margin-top: 8px;
					margin-bottom: 6px;
				
					line-height: 1.2;
}
					.b-10 ul li .first{
						margin-top: -7px;
					}
				.b-10 ul li span{
					display: block;
					color: #000;
					font-family: "RR";
					font-size: 16px;
				
					line-height: 1.2;
}
		.b-10 .b-block div{
			background-image: url("../i/baby-2.png");
			background-position: 50% 50%;
			width: 595px;
			height: 304px;
			display: inline-block;
			margin-top: 21px;
			margin-bottom: 61px;
		}
			.b-10 .b-block div p{
				color: #000;
				font-family: "RL";
				font-size: 24px;
				margin-top: 219px;
			}
.b-11{
	overflow: hidden;
}
	.b-11 .b-block{
		text-align: center;
		padding-bottom: 89px;
	}
		.b-11 h2{
			display: inline-block;
			color: #1B4F73;
			font-family: "RL";
			font-size: 50px;
			line-height: 48px;
			margin-top: 54px;
		}
			.b-11 h2 b{
				font-family: "RB";
			}
		.b-11 h3{
			margin-top: 14px;
			color: #000;
			font-family: "RL";
			font-size: 24px;
			margin-bottom: 54px;
		
			line-height: 1.2;
}
		.b-11 .b-scales{
			width: 469px;
			margin-top: -60px;
			margin-left: 16px;
		}
			.b-11 .b-scales .b-scales-table{
				display: table;
				height: 366px;
			} 
				.b-11 .b-scales .b-scales-table>div{
					display: table-cell;
					vertical-align: bottom;
					text-align: center;
				}
				.b-11 .b-scales .b-scales-table .b-left{
					width: 46%;
				}
				.b-11 .b-scales .b-scales-table .b-right{
					width: 48%;
				}
					.b-11 .b-scales .b-scales-table .b-right .b-items{
						height: 266px;
					}
					.b-11 .b-scales .b-scales-table .b-ver{
						background-position: 50% 0%;
						background-repeat: no-repeat;
						background-image: url('../i/scales/ver.png');
						width: 100%;
						/*height: 97px;*/
					}
					.b-11 .b-scales .b-scales-table .b-right .b-ver{
						/*height: 37px;*/
					}
			.b-11 .b-scales .b-scales-main{
				margin-top: -16px;
				width: 460px;
				height: 99px;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-image: url('../i/scales/main.png');
			}
		.b-11 .right{

		}
			.b-11 .right p{
				font-family: "RR";
				font-size: 16px;
				color: #000;
				text-align: left;
				margin-top: 11px;
				margin-bottom: 23px;
				margin-right: 12px;
			
				line-height: 1.2;
}
				.b-11 .right p b{
					color: #257DBA;
					font-family: "RB";
					font-weight: 500;
				}
				.b-11 .right p a{
					color: #E51233;
					font-family: "RLI";
					font-size: 14px;
					text-decoration: underline;
				}
				.b-11 .right p a:hover {
					text-decoration: none;
				}
		.b-11 .b-block > img{
			margin-left: -171px;
			margin-top: 65px;
		}
		.b-11 h4{
			color: #1B4F73;
			font-family: "RL";
			font-size: 42px;
			margin-top: 15px;
		
			line-height: 1.2;
}
			.b-11 h4 b{
				font-family: "RB";
			}
		.b-11 h5{
			color: #000;
			font-family: "RL";
			font-size: 24px;
			margin-top: 15px;
			margin-bottom: 49px;
		
			line-height: 1.2;
}
		.b-11 .b-block > a{
			color: #FFF;
			font-family: "RB";
			font-size: 16px;
			padding: 13px 46px;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
		}
.b-12{
	background-image: url("../i/back-11.jpg");
	background-size: cover;
	background-position: 50% 50%;
	overflow: hidden;
}
	.b-12 .b-block{
		text-align: center;
	
		width: 1050px;
}

		.b-12 .b-block h2{
			color: #FFF;
			display: inline-block;
			font-family: "RB";
			font-size: 50px;
			margin-top: 42px;
			line-height: 47px;
		
}
		.b-12 .b-block h3{
			color: #FFF;
			display: inline-block;
			font-family: "RL";
			font-size: 38px;
		
			line-height: 67px;
}
		.b-12 .b-block .right{
			margin-top: 22px;
			margin-right: 36px;
		}
		.b-12 .b-block .form{
			background-color: #FFF;
			width: 505px;
			border-radius: 5px;
			box-sizing: border-box;
			padding: 23px 23px 26px 35px;
		}
			.b-12 .b-block .form .top{
				font-family: "RR";
				font-size: 20px;
				color: #000;	
				text-align: justify;
			
				line-height: 1.2;
				padding-right: 16px;
}
				.b-12 .b-block .form .top b{
					color: #257DBA;
					font-family: "RB";
					font-weight: 500;
				}
			.b-12 .b-block .form .bottom{
				color: #000;
				margin-top: 32px;
				line-height: 20px;
				font-family: "RR";
				font-size: 16px;
				margin-bottom: 17px;
			
				text-align: justify;
}
			.b-12 .b-block .form a{
				border: 3px solid #E51233;
				border-radius: 5px;
				color: #E51233;
				font-family: "RMI";
				padding: 4.5px 25px;
				font-size: 16px;
			}
		.b-12 .b-block .right h4{
			color: #FFF;
			font-family: "RB";
			font-size: 20px;
			float: left;
			margin-top: 21px;
			margin-left: 37px;
		}
		.b-12 .b-block .right > p{
			font-size: 16px;
			font-family: "RR";
			color: #f3f4f7;
			margin-top: 58px;
			text-align: justify;
			width: 450px;
			/* margin-bottom: 40px; */
			margin-left: 37px;
		
			line-height: 1.2;
}
		.b-12 .b-red-butt{
			width: 181px;
			padding: 3px 0px 4px !important;
		}
.b-13{
	overflow: hidden;
}
	.b-13 .b-block{
		text-align: center;
		padding-bottom: 63px;
	
		width: 1055px;
}
		.b-13 h2{
			color: #1B4F73;
			font-family: "RL";
			font-size: 50px;
			margin-top: 47px;
		
			line-height: 1.2;
}
			.b-13 h2 b{
				font-family: "RB";
			}
		.b-13 h3{
			color: #000;
			font-family: "RL";
			font-size: 24px;
		
			line-height: 40px;
}
		.b-13 .left{
			width: 545px;
			margin-top: 17px;
		}
			.b-13 .left img{

			}
			.b-13 .left b{
				color: #000;
				font-family: "RB";
				font-size: 16px;
				font-weight: 500;
				text-align: left;
			
				line-height: 19px;
}
			.b-13 .left p{
				color: #000;
				font-family: "RR";
				font-size: 14px;
				margin-bottom: 28px;
			
				line-height: 19px;
}
			.b-13 .left a{
				padding: 14px 23px;
			}
		.b-13 .right{
			margin-top: 2px;
			margin-right: 39px;
			width: 420px;
		}
			.b-13 .right h4{
				color: #1B4F73;
				font-family: "RR";
				font-size: 24px;
				font-weight: 400;
				text-align: left;
				margin-top: 53px;
			}
			.b-13 .right p{
				margin-top: 17px;
				color: #000;
				font-family: "RR";
				font-size: 16px;
				text-align: left;
			
				line-height: 1.2;
				margin-bottom: 5px;
}
			.b-13 .right a{
				color: #E51233;
				font-family: "RMI";
				font-size: 14px;
				border-radius: 5px;
				border: 3px solid #E51233;
				float: left;
				width: 67px;
				padding: 4px 21px;
			}
.b-14{
	background-image: url("../i/back-13.jpg");
	background-position: 50% 50%;
	background-size: cover;
	overflow: hidden;
}
	.b-14 .b-block{
		padding-bottom: 85px;
	}
		.b-14 ul{
			display: inline-block;
			  margin-left: 261px;
		}
			.b-14 ul li{
				float: left;
			}
				.b-14 ul li a{
					display: block;
					width: 26px;
					height: 26px;
					background-color: #257DBA;
					border: 6px solid #FFF;
					border-radius: 50%;
					margin-right: 20px;
				}
					.b-14 ul li a:active{
						background-color: #CDCDCD;
						border: 6px solid #FFF;
					}
		.b-14 h2{
			color: #1B4F73;
			font-family: "RL";
			font-size: 50px;
			padding-top: 76px;
			margin-bottom: 56px;
		
			line-height: 1.2;
}
			.b-14 h2 b{
				font-family: "RB";
			}
		.b-14 .b-block .b-left{
			margin-right: 22px;
			margin-left: 15px;
			display: inline-block;
			margin-bottom: 70px;
		
}
			.b-14 .b-block .b-left .woman{

			}
			.b-14 .b-block .b-left p{
				color: #000;
				font-family: "RR";
				font-size: 14px;
			}
				.b-14 .b-block .b-left p b{
					color: #000;
					font-family: "RB";
					font-size: 16px;
			}
		.b-14 .b-block .left-2{
			display: inline-block;
		}
			.b-14 .b-block .left-2 .quote{
				float: left;
				margin-left: -64px;
  				margin-top: -35px;
			}
			.b-14 .b-block .left-2 h3{
				color: #1B4F73;
				font-family: "RR";
				font-size: 20px;
				text-align: left;
			}
			.b-14 .b-block .left-2 p{
				color: #000;
				font-family: "RR";
				font-size: 16px;
				text-align: left;
				margin-bottom: 45px;
			}
			.b-14 .b-block .left-2 a{
				color: #E51233;
				font-family: "RB";
				font-size: 14px;
				border: 3px solid #E51233;
				border-radius: 5px;
				padding: 5px 30px;
			}
	.b-14 .b-block .review-cont {
		color: #000;
		margin-left: 15px;
	
		margin-bottom: 72px;
}
		.b-14 .b-block .review-cont .img-cont p{
			font-family: "RR";
  			font-size: 14px;
		
			margin-top: 13px;
}
			.b-14 .b-block .review-cont .img-cont p b{
				font-family: "RB";
				font-size: 16px;
			
				line-height: 1.2;
}
		.b-14 .b-block .review-cont .img-cont .img {
			width: 150px;
			height: 150px;
			background-position: 50%;
			border-radius: 75px;
			margin: 0 auto;
		}
		.b-14 .b-block .review-cont .text-cont {
			margin-left: 33px;
		}
			.b-14 .b-block .review-cont .text-cont h3 {
				position: relative;
				color: #1B4F73;
 				font-family: "RR";
  				font-size: 20px;
  				text-align: left;
			
				margin-bottom: 14px;
}
				.b-14 .b-block .review-cont .text-cont h3:after {
					position: absolute;
					background: url("../i/quote.png") 50% no-repeat;
					height: 49px;
					width: 62px;
					top: -35px;
					left: -67px;
					content: "s";
					font-size: 0px;	
				}
			.b-14 .b-block .review-cont div:nth-child(2) p {
				font-family: "RR";
  				font-size: 16px;
  				text-align: left;
				line-height: 20px;
				margin-bottom: 37px;
			}

			.b-14 .b-block .review-cont .b-red-butt {
				display: inline-block;
			}

.b-15{
	background: rgb(253,211,110); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(253,211,110,1) 0%, rgba(254,236,161,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,211,110,1)), color-stop(100%,rgba(254,236,161,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(253,211,110,1) 0%,rgba(254,236,161,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(253,211,110,1) 0%,rgba(254,236,161,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(253,211,110,1) 0%,rgba(254,236,161,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(253,211,110,1) 0%,rgba(254,236,161,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd36e', endColorstr='#feeca1',GradientType=0 ); /* IE6-9 */
	overflow: hidden;
}
	.b-15 .b-block{
		text-align: center;
	}
		.b-15 .b-block > h2{
			display: inline-block;
			margin-top: 35px;
			color: #000;
			font-family: "RB";
			font-size: 50px;
		}
		.b-15 h3{
			color: #000;
			font-family: "RL";
			font-size: 24px;
		}
		.b-15 .left{
			margin-top: 51px;
		}
			.b-15 .left h3{
				color: #000;
				font-family: "RR";
				font-size: 20px;
				line-height: 24px;
			
				margin-right: 37px;
}
			.b-15 .left img{
				margin-top: -75px;
				margin-left: -98px;
			}
			.b-15 .left p{
				font-family: "RR";
				color: #000;
				font-size: 16px;
				margin-top: -175px;
				margin-left: 335px;
				text-align: left;
			}
				.b-15 .left p b{
					color: #E51233;
					font-size: 34px;
					font-family: "RB";
				}
		.b-15 .right{
			width: 388px;
			background-color: #FEECA1;
			margin-right: 18px;
			margin-top: 60px;
			margin-bottom: 98px;
		}
			.b-15 .right> div {
    padding-bottom: 15px;

			}
			.b-15 .right h2{
				color: #000;
				font-family: "RL";
				font-size: 26px;
			
				margin-top: 10px;
				line-height: 1.2;
}
				.b-15 .right form{
					text-align: center;
				}

					.b-15 .right form label{
						color: #000;
						font-family: "RR";
						font-size: 14px;
						float: left;
						margin-left: 53px;
						margin-top: 37px;
						margin-bottom: 0px;
					}

					.b-15 .right form>div{
						margin-top: 4px;
						margin-bottom: 26px;
					}
					.b-15 .right form button {
    width: 287px;

					}
			.b-15 .right p{
				color: #000;
				font-family: "RB";
				font-size: 14px;
				line-height: 20px;
				margin-top: 8px;
			}
.b-16{
	background-image: none;
	padding-bottom: 30px;
}

	.b-16 h2 {
		font-size: 32px !important;
		font-family: "RR" !important;
	
		margin-bottom: 5px;
}
#callback {
	width: 388px;
	height: 485px;
	
}
.popup {
	margin: 10px;
	margin-top: 30px;
	margin-bottom: 30px;

}
.popup .form{
			text-align: center;
			background-color: #FEECA1;
		}
			.popup .form.yellow-border>div {
				padding-bottom: 17px;
			}
			.popup .form h2{
				display: inline-block;
				color: #000;
				line-height: 34px;
				font-family: "RL";
				font-size: 34px;
				font-weight: 300;
			}
			.popup .form p{
				margin-top: 13px;
				color: #5E5D62;
				font-family: "RR";
				font-size: 16px;
				font-weight: 400;
				line-height: 20px;
				margin-bottom: 9px;
				/* width: 322px; */
				/* display: inline-block; */
			}
			.popup .form form{
				margin-bottom: 13px;
			}
				.popup .form form label{
					color: #000;
					font-family: "RR";
					font-size: 14px;
					font-weight: 400;
					float: left;
					margin-left: 52px;
				}
				.popup .form form>div {
					margin-top: 3px;
				
					margin-bottom: 16px;
}
				.popup .form form .phone{
					height: 52px;
					margin-top: 5px;
					background-color: #FFF;
					border: 1px solid #CDCDCD;
					border-radius: 5px;
					background-image: url("../i/phone.png");
					background-repeat: no-repeat;
					background-position: 10px 50%;
					padding-left: 73px;
					color: #5E5D62;
					font-family: "RR";
					font-size: 16px;
					font-weight: 400;
					padding-right: 47px;
					margin-bottom: 16px;
					display: inline-block;
				}
				.popup .form form .mail{
					height: 52px;
					margin-top: 5px;
					background-color: #FFF;
					border: 1px solid #CDCDCD;
					border-radius: 5px;
					background-image: url("../i/mail.png");
					background-repeat: no-repeat;
					background-position: 10px 50%;
					padding-left: 73px;
					color: #5E5D62;
					font-family: "RR";
					font-size: 16px;
					font-weight: 400;
					padding-right: 47px;
					margin-bottom: 16px;
					display: inline-block;
				}
				.popup .form form button{
					display: inline-block;
					padding: 13px 34px;
					width: 289px;
				
					margin-top: 9px;
} 
			.popup .form b{
				color: #000;
				font-family: "RR";
				font-size: 14px;
				font-weight: 400;
			}
			.popup .form b span {
				font-family: "RB";
			}
#consult{
	width: 447px; 
	height: 485px;
}
	#consult .form input{	
		width: 300px;
	}
	#consult .form button {
		width: 357px;
	}
#question{
	width: 806px;
	height: 525px;
}	
#question .left{
			width: 352px;
  			margin-left: 38px;
  			margin-top: 29px;
		}
			#question .left img{
	
			}
			#question .left b{
				color: #000;
 				font-family: "RB";
 				font-size: 16px;
 				font-weight: 500;
 				text-align: center;
 				line-height: 19px;
 				display: block;
 				margin-top: 8px;
}
			#question .left p{
				color: #000;
				font-family: "RR";
				font-size: 14px;
				margin-bottom: 0;
				margin-top: 2px;
				line-height: 17px;
} 
#question .question-right {
	float: left;
  	width: 345px;
	margin-left: 45px;
}
#question .form .left p {
	margin-bottom: 10px;
	line-height: 16px;
}

#question .form form label {
	margin-left: 36px;
}
#question .form textarea {
	width: 267px;
 	border-radius: 5px;
 	resize: none;
 	margin-top: 4px;
 	height: 118px;
 	padding: 10px;
 	font-family: "RR";
 	font-size: 14px;
 	margin-bottom: 4px;
}
#question .form form>div {
	margin-top: 7px;
 	margin-bottom: 12px;
}
#b-popup-error {
	width: 388px;
}
.qtip{
	width: 300px !important;
	top: auto !important;
	bottom: 20px;
	padding: 10px;
}
.qtip-content{
	font-size: 14px;
	line-height: 16px;
}